<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <link rel="icon" href="{{ settings.site_favicon }}" sizes="192x192">
  <link rel="apple-touch-icon" href="{{ settings.site_favicon }}">
  <meta name="msapplication-TileImage" content="{{ settings.site_favicon }}">
  <meta name="dc.description" content="{{ settings.site_tagline }}">
  <meta name="description" content="{{ settings.site_tagline }}">
  <meta property="og:description" content="{{ settings.site_tagline }}">
  <meta name="twitter:description" content="{{ settings.site_tagline }}">

{% if settings.site_noindex false %}
  <meta name="robots" content="index, follow">
{% endif %}

{% else settings.site_noindex true %}
  <meta name="robots" content="noindex, nofollow">
{% endif %}

  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
{% if settings.site_analytics %}
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ settings.site_analytics }}');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.site_analytics }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
</head>
