<header>
		<div id="header-inner">
			
				<div class="header-left">
				<a id="site-title" href="{{ '/' | url }}">
				<img alt="Main Logo" src="{{ settings.site_logo }}" class="header-logo">
				</a>
				</div>
			
			<div class="header-right">
			{% include "components/nav.njk" %}
			</div>


			</div>
		</header>