---
layout: layouts/base.njk
section: author
---
<h1>{{ name }}</h1>

<p><a href="mailto:{{ email }}">{{ email }}</a></p>
<p><a href="{{ company-website }}">Company Website</a></p>

<nav>
  <a href="{{ '/products/' | url }}">← Products index</a>
</nav>
