<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		{% include "components/header.njk" %}

		<main>
		
			{{ layoutContent | safe }}
			
		</main>

		{% include "components/footer.njk" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script type="text/javascript">

jQuery(document).ready(function(){

/*! Fades in page on load */
jQuery('html').css('display', 'none');
jQuery('html').fadeIn(1000);

});

</script>

	</body>

</html>
