---
layout: layouts/base.njk
section: products
permalink: /products/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/products-postslist.njk" %}