---
layout: layouts/base.njk
section: products
---

  	{% if internal_image %}
    
				<img src="{{ internal_image }}" >

			{% endif %}

<article>
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
    </small>
  </p>

  	{% if summary %}
				<p>
					{{ summary }}
				</p>
			{% endif %}

	{% if description %}
				<p>
					{{ description }}
				</p>
			{% endif %}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "product" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/products/' | url }}">← Products index</a>
</nav>
